img{ 
    height: 450px;
    width: 450px;
    border-radius: 50%;
    float: right;

}
body{
    background-color:mediumturquoise;
}

.imagesec p{
font-size: 30px;
color: violet;
margin-top: 10%;

}
.imagesec{
    height: 600px;
    
    align-items: center;
}
.nav{
    display: flex;
    padding-right: 5px;


}
ul li{
    margin: 5%;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    color: violet;
}
.nav ul{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-left: 10%;


}
.about h2{
    text-align: center;
    color: indigo;
    font-style: italic;

}
.about p{
    text-align: center;
    font-size: 30px;
    

}
.edu h2{
    text-align: center;
    color: indigo;
    font-style: italic;
    margin-top: 10%;

}
.edu p{
    text-align: center;
    font-size: 30px;
    margin-top:10% ;

}
.edu ul{
    text-align: center;
    font-size: 30px;
    
}
.project h2{
    text-align: center;
    color: indigo;
    font-style: italic;

}
.project p{
    text-align: center;
    font-size: 30px;
    margin-top:10% ;

}

.contacts h2{
    text-align: center;
    color: indigo;
    font-style: italic;

}
.contacts p{
    text-align: center;
    font-size: 30px;
    margin-top:10% ;

}


















    




